* {
    margin: 10;
    padding: 10;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    background-color: rgb(17, 159, 159);
    padding: 30px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(61, 61, 63);
    margin-top: 20px;
    background-color: rgb(89, 166, 166);
    padding: 30px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 15px; 
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(193, 219, 219);
}

.container{
    gap: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    font-size: 10px;
    width: 80px;
    padding: 0px;
}

.div-card{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:275px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
  font-family: sans-serif;
}

.div-nombre{
  font-size: 20px;
  text-align: center;
  align-content: center;
  padding-top: 10px;
}

.div-fechaSalida{
    font-size: 15px;
    text-align: center;
}

.div-duracion{
    font-size: 15px;
    text-align: center;
  }

.div-precio{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.div-comprar{
  background: #6ebecf;
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;
}

.div-comprar a{
  text-decoration: none;
  color: #6ebecf;
}

.div-comprar a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""
}

.btn-checkout {
    background-color:   rgb(17, 159, 159) !important;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    display: inline;
    padding: 10px;
    float: right;
    height: 50px;
    width: 50px;
}

.btn-checkout img {
    width: 50px;
}

.btn-checkout:hover {
    box-shadow: 4px 4px 16px rgba(233, 225, 225, 0.476);
}

.btn-checkout:active {
    filter: grayscale(100%)
}